<%- include('partials/shopfinalHead') %>
<body>
    

<img src="<%= product.img %>" alt="">
<h2><%= product.name %></h2>
<h4><%= product.price %></h4>
<h2><%= product.brand %></h2>
<h4><%= product.category %></h4>
<h4><%= product.sellername %></h4>

<p><%= product.description %></p>
<a href="/addToCart/<%= product.id %>" class="btn btn-primary">Add to cart</a>
<a href="/buy/<%= product.id %>" class="btn btn-primary">Buy Now</a>


<!-- <div class="rating">
    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
</div> -->

<h3>Comments</h3>
<% product.comment.forEach(comment => { %>
<h4><%= comment.commentername %></h4>
 <p><%= comment.comm %></p>
<% }) %>


<form action="/comment/<%= product.id %>" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="comment">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Comment</button>
</form>

<br><br><br>

<div class="cursor-pointer" style="cursor:pointer;" data-id="<%= seller.id %>"><%= seller.sellername %></div>
<h3>Click to start the chat</h3>


    

        <h5 id="<%= seller._id %>-status">Offline</h5>


<div id="chat-section" >
    
    <div id="chat-container" style="background-color: lightblue;">
        <div class="current-user-chat" style="text-align: right; margin: 10px;">
            <h5>Hii</h5>
        </div>
        <div class="distance-user-chat" style="margin: 10px;">
            <h5>Hii</h5>
        </div>

    </div>

    <form action="" id="chat-form" method="">
        <input type="text" name="message" placeholder="Enter message" id="message" required>
        <input type="submit" value="send-message" >
    </form>
</div>

<div id="welcome-message"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    var socket = io('/user-namespace', {
        auth : {
            token : '<%= userID %>'
        }
    });
    var sender_id = '<%= userID %>'; 
    var receiver_id = '<%= seller.id %>'

    // $(document).ready(function(){
    //     $('.cursor-pointer').click(function(){
    //     $('.start-head').hide();
    //     $('.chat-section').show();
    //     socket.emit('existsChat', {sender_id : sender_id , receiver_id : receiver_id});
    // })

    // })

    socket.emit('existsChat', {sender_id : sender_id , receiver_id : receiver_id});

    //updating the online status of an user
    socket.on('getOnlineUser', function(data){
        $('#'+data.user_id+'-status').text('Online');
        console.log("online");
        $('#'+data.user_id+'-status').removeClass('offline-status');
        $('#'+data.user_id+'-status').addClass('online-status');
    });

    //updating the offline status of an user
    socket.on('getOfflineUser', function(data){
        $('#'+data.user_id+'-status').text('Offline');
        console.log("offline");
        $('#'+data.user_id+'-status').removeClass('online-status');
        $('#'+data.user_id+'-status').addClass('offline-status');
    });


    //saving the chat of user

    var jq = jQuery.noConflict();

    jq('#chat-form').submit(function(event){
        event.preventDefault();
        var message = jq("#message").val();

        
        
        jq.ajax({
            url: '/save-chat',
            type: 'POST',
            data : {sender_id : sender_id, receiver_id : receiver_id, message : message},
            success:function(response){
                if(response.success){
                    console.log(response.data.message);
                    console.log("done");
                    jq('#message').val('');
                    let chat = response.data.message;
                    let html = `
                     <div class="current-user-chat" style="text-align: right; margin: 10px;" id='`+response.data._id+`'>
                    <h5>`+chat+`
                        <a href="/delete-chat/`+response.data._id+`"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </h5>
                    </div>
                    `;
                    jq('#chat-container').append(html);
                    console.log(response.data);
                    socket.emit('newChat',response.data);
                }else{
                    alert(data.msg)
                }
            }
        })
    })


    socket.on('loadNewChat', function(data){

        console.log(sender_id);
        console.log(data.receiver_id);
        console.log(receiver_id);
        console.log(data.sender_id);
        if(sender_id == data.receiver_id && receiver_id == data.sender_id){

            let html = `
            <div class="distance-user-chat" style="margin: 10px;" id = '`+data._id+`'>
            <h5>`+data.message+`</h5>
            </div>
            `;
            
            jq('#chat-container').append(html);
            }
    });

    socket.on('loadChats', function(data){

$('#chat-container').html('');

var chats = data.chats;

let hml = '';
console.log(chats.length);

for(let x = 0; x < chats.length; x++){
    let addClass = '';

    if(chats[x]['sender_id'] == sender_id){
        addClass = 'current-user-chat';
    }else{
        addClass = 'distance-user-chat';
    }

    console.log(chats[x]['message']);

    hml += `
    <div class="`+addClass+`" id = '`+chats[x]['_id']+`'>
    <h5>`+chats[x]['message']+``;
        if(chats[x]['sender_id'] == sender_id){
            hml += `
            <a href="/delete-chat/`+chats[x]['_id']+`"><i class="fa fa-trash" aria-hidden="true"></i></a>`;
        }

        hml += `</h5>
    </div>
    `;
}

$('#chat-container').append(hml);
})
</script>


</body>



<%- include('partials/footer') %>