<%- include('partials/merHeader') %>

<div
  class="editor"
  style="
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: larger;
  "
>
  <form action="/update/<%= productID %>" method="POST">
    <h1>
      <textarea name="name" id="" cols="30" rows="1" style="border: none; outline: none; font-size: 50px; margin-left: 235px"><%= name %></textarea>
    </h1>

    <h3>
      <textarea name="price" id="" cols="30" rows="1" style="border: none; outline: none; font-size: 50px; margin-left: 235px"><%= price %></textarea></h3>

    <h4>
      <textarea name="brand" id="" cols="30" rows="1" style="border: none; outline: none; font-size: 50px; margin-left: 235px"><%= brand %></textarea>
    </h4>

    <h4>
      <textarea name="category" id="" cols="30" rows="1" style="border: none; outline: none; font-size: 50px; margin-left: 235px"><%= category %></textarea>
    </h4>

    <img
      src="<%= img %>"
      alt=""
      class="editorimage"
      style="text-align: center; width: 400px; height: 300px"
    />
    <br />
    <input type="text" name="imageLink" placeholder="Change Image link" />

    <textarea name="description" id="" cols="30" rows="5" style="width: 100%; border: none; outline: none; margin-top: 10px"
    >
    <%= description %>
    
    </textarea>

    <button class="btn btn-primary" type="submit" name="button">Update</button>
  </form>

  <% comments.forEach(comment => { %>
  <p><%= comment.comm %></p>
  <% }) %>
</div>

<%- include('partials/footer') %>
