<%- include('partials/shopfinalHead') %>



<% if (!sellername) { %>
 <% sellername = "Not provided" %>
<% } %>
<body >

    <br><br>
        <div class="bg-white shadow-md rounded mx-auto px-8 py-6">
            <div style="margin-left: 30px;">
            
            <h1 class="text-2xl font-semibold text-center mt-4">John Doe's Ecommerce Shop</h1>
            
            <!-- Personal Information -->
            <div class="mt-6">
                <h2 class="text-lg font-semibold">Personal Information:</h2>
                <ul class="list-disc pl-6">
                    <li><strong>Full Name:</strong> <%= name %></li>
                    <li><strong>Sellername:</strong> <%= sellername %></li>
                    <li><strong>Email:</strong> <%= email %></li>
                    
                </ul>
            </div>
            
            <!-- Account Details -->
            

            <!-- Shipping Information -->
            
            <div class="mt-6">
                <h2 class="text-lg font-semibold">Shipping Information:</h2>
                <% addresses.forEach(address => { %>
             
                    
                <p><%= address.houseno %><br><%= address.area %><br><%= address.landmark %><br><%= address.city %>, <%= address.state %><br><%= address.country %></p>
                <% }) %>
            </div>

            <!-- Billing Information -->
            
            <!-- Payment Methods -->
            <div class="mt-6">
                <h2 class="text-lg font-semibold">Products in Seller List: <%= noOfProducts %></h2>
                <!-- Replace with your order history entries -->
            </div>

            <!-- Order History -->
            

            <!-- Wishlist -->
            

            <!-- Reviews and Ratings -->
            

            <!-- Settings -->
            

            <div class="mt-4">
                <a href="/editProfile">
                <button id="checkout-btn" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-indigo-300">Edit Profile</button>
            </a>
            </div>

            <!-- Logout -->
            <div class="mt-6">
                <a href="/logout" class="text-blue-500 hover:underline">Logout</a>
            </div>
        </div>
        </div>


        <br><br>


</body>
<%- include('partials/footer') %>
